
/******************************************************************************************************************
***************** Tune process specific resources (cpu, container, memory etc.) ***********************************
*******************************************************************************************************************/

process {

    //******************* Default process settings ************************//
    errorStrategy = { params.errorStrategy  ? params.errorStrategy : "ignore" }
    queue         = "priority"
    maxRetries    = 2
    memory        = '30 GB'
    cache         = 'lenient'
    cpus          = 8

    /*********************************************************************************************
    ******************************** Process Specific Settings  **********************************
    *********************************************************************************************/
    
    //************************* Generic process labels used throughout the workflow  ****************// 
    // Processes using genelab utils scripts
    withLabel: genelab {             
                  conda     = {params.conda_genelab ? params.conda_genelab : "${projectDir}/envs/genelab.yaml"}
                  container = "quay.io/nasa_genelab/genelab-utils:1.3.39"
           }

    // PROCESS: ZIP_MULTIQC, ZIP_BINS, ZIP_MAGS, ZIP_FASTA 
    withLabel: zip {
                  conda     = {params.conda_zip ? params.conda_zip : "${projectDir}/envs/zip.yaml"}
                  container = "quay.io/nasa_genelab/zip:3.0"
           }

    /* Python Unix environment and bit scripts written by astrobiomike
     PROCESS: RENAME_HEADERS, SUMMARIZE_ASSEMBLIES, REMOVE_LINEWRAPS, FILTER_KFAMSCAN,
     COMBINE_GENE_ANNOTS_TAX_AND_COVERAGE, MAKE_COMBINED_GENE_LEVEL_TABLES, 
     COMBINE_CONTIG_TAX_AND_COVERAGE, MAKE_COMBINED_CONTIG_TAX_TABLES,
     SETUP_CAT_DB, SETUP_KOFAMSCAN_DB, SETUP_GTDBTK_DB, SETUP_KRAKEN , 
     CAT_FASTQ_FILES, CAT_FASTQ_DIR, GENERATE_ASSEMBLY_PROCESSING_OVERVIEW_TABLE
     SUMMARIZE_BIN_ASSEMBLIES, FILTER_CHECKM_RESULTS_AND_COPY_MAGS, SUMMARIZE_MAG_ASSEMBLIES,
     GENERATE_MAGS_OVERVIEW_TABLE, SUMMARIZE_MAG_LEVEL_KO_ANNOTATIONS, METAPHLAN2KRONA 
    */ 
    withLabel: bit {
                  cpus      = 2
                  conda     = {params.conda_bit ? params.conda_bit : "${projectDir}/envs/bit.yaml"}
                  container = "quay.io/nasa_genelab/bit-astrobiomike:1.13.15"
                  memory    = "5 GB"
           }

    /* Processes running samtools.
     PROCESS: SAM_TO_BAM, SAMTOOLS_SORT, SAMTOOLS_INDEX, SAMTOOLS_STATS, SAMTOOLS_FASTQ, SAMTOOLS_FILTER_FASTQ
    */
    withLabel: samtools {
                  conda     = {params.conda_samtools ? params.conda_samtools : "${projectDir}/envs/samtools.yaml"}
                  container = "quay.io/biocontainers/samtools:1.23.1--ha83d96e_0"
          }

     // PROCESS: METAPHLAN2COUNT, KAIJU2SPECIES_TABLE, BARPLOT, FILTER_RARE, DECONTAM, ASSEMBLY_TABLE, HEATMAP
     withLabel: R_downstream {
                  conda     = {params.conda_rvis ? params.conda_rvis : "${projectDir}/envs/R_visualizations.yaml"}
                  container = "quay.io/nasa_genelab/r-visualization:1.1"
          }

     withName: BARPLOT {
               containerOptions = { params.containerEngine == "singularity" ? "-B \${HOME}" : "-v \${HOME}:\${HOME}" }
               memory = "60 GB"
      }

//*************************************** Database set-up ********************************************//
    // PROCESS: SETUP_CHOCOPHLAN, SETUP_UNIREF, SETUP_UTILITY_MAPPING, SETUP_METAPHLAN 
    withLabel: humann_setup {
                  conda     = {params.conda_humann3 ? params.conda_humann3 : "${projectDir}/envs/humann3.yaml"}
                  container = "biobakery/humann:3.9"
          }

    withName: SETUP_METAPHLAN {
                  memory = "100 GB"
          }

    withName: SETUP_KAIJU {
                  cpus      = 2
                  memory    = "500 GB"
          }

    /* PROCESS: SETUP_CHOCOPHLAN, SETUP_UNIREF, SETUP_UTILITY_MAPPING, SETUP_METAPHLAN
           SETUP_CAT_DB, SETUP_KOFAMSCAN_DB, SETUP_GTDBTK_DB, SETUP_KAIJU, SETUP_KRAKEN, BUILD_HOSTDB
    */
    withLabel: db_setup {
                  storeDir = "${params.DB_ROOT}/"
          }


//************************* GLDS_accession runsheet and input file retrieval  **************************************//
    withName: GET_RUNSHEET {
                  cpus       = 10
                  conda      = {params.conda_genelab ? params.conda_genelab : "${projectDir}/envs/genelab.yaml"}
                  container  = "quay.io/nasa_genelab/genelab-utils:1.3.39"
                  publishDir = [path: params.genelab_dir , mode: params.publishDir_mode]
          }


//********************************** Read quality control and assessment ********************************************//
     // PROCESS: FASTQC, NANOPLOT 
     withLabel: quality_check {
                  cpus   = 4
                  memory = '60 GB'
          }


    withName: MULTIQC {
                  conda     = {params.conda_multiqc ? params.conda_multiqc: "${projectDir}/envs/multiqc.yaml"}
                  container =  "quay.io/biocontainers/multiqc:1.27.1--pyhdfd78af_0"
                  cpus      = 2
                  memory    = '100 GB'
          }


    /* For read mapping to a custom genome using bbtools
     PROCESSES: LONG_MAP2GENOME, SHORT_MAP2GENOME, GET_COV_AND_DET 
    */
    withLabel:  bbtools {
                  conda     = {params.conda_bbmap ? params.conda_bbmap: "${projectDir}/envs/bbmap.yaml"}
                  container = "quay.io/biocontainers/bbmap:39.81--h9b5c0a0_1" 
                  cpus      = 8
                  memory    = "60 GB"
          }


//***************************************** Remove Host ***************************************************//
    // PROCESS: REMOVE_HOST, BUILD_HOSTDB, KRAKEN_CLASSIFY
    withLabel: kraken2 {
              conda     = {params.conda_kraken2 ? params.conda_kraken2 : "${projectDir}/envs/kraken2.yaml"}
              container = "quay.io/biocontainers/kraken2:2.17.1--pl5321h077b44d_0"
          }

//************************************ Read-based processing *********************************************************//

   // PROCESS: KAIJU_CLASSIFY, KAIJU2TABLE, SETUP_KAIJU, KAIJU2KRONA
  withLabel: kaiju {
            conda     = {params.conda_kaiju ? params.conda_kaiju :"${projectDir}/envs/kaiju.yaml"}
            container =  "quay.io/biocontainers/kaiju:1.10.1--h5ca1c30_2"
          }

   withName: "KRAKEN_CLASSIFY|KAIJU_CLASSIFY" {
            memory = "300 GB"
          }

   withName: KRAKEN2TABLE {
             conda     = {params.conda_pavian ? params.conda_pavian :"${projectDir}/envs/pavian.yaml"}
             container =  "quay.io/nasa_genelab/r-pavian:1.2.0"
          }


   withName: KRAKEN2KRONA {
             conda     = {params.conda_krakentools ? params.conda_krakentools :"${projectDir}/envs/krakentools.yaml"}
             container =  "quay.io/biocontainers/krakentools:1.2.1--pyh7e72e81_0"
           }


   withName: ".*_MAP2GENOME" {
             publishDir = [path: "${params.read_based_dir}/genome_mapping/", mode: params.publishDir_mode, pattern: "*_scaffold_stats.txt" ]

           }
 
   /* PROCESS: HUMANN, COMBINE_READ_BASED_PROCESSING_TABLES, SPLIT_READ_BASED_PROCESSING_TABLES, 
      GEN_NORMALIZED_READ_BASED_PROCESSING_TABLES, GEN_READ_BASED_PROCESSING_KO_TABLE, 
      COMBINE_READ_BASED_PROCESSING_TAXONOMY
   */ 
   withLabel: read_based {
              conda     = {params.conda_humann3 ? params.conda_humann3 : "${projectDir}/envs/humann3.yaml"}
              container = "biobakery/humann:3.9"
           }
     

    // PROCESS: KRONA_REPORT
    withLabel: krona {
                  conda     = {params.conda_krona ? params.conda_krona : "${projectDir}/envs/krona.yaml"}
                  container = "quay.io/biocontainers/krona:2.8.1--pl5321hdfd78af_1"
            }

    withName: HUMANN {
               cpus   = 8
               memory = "250 GB"
            }

    withName: GEN_READ_BASED_PROCESSING_KO_TABLE {
               containerOptions = { params.containerEngine == "singularity" ? "-B ${utilities}" : "-v ${utilities}"}
            }

//*************************************** Assembly-based processing **************************************************//
    // PROCESS: FLYE, RENAME_HEADERS, SUMMARIZE_ASSEMBLIES
    withLabel: assembly {
               publishDir = [path: "${params.assembly_based_dir}/assemblies/", mode: params.publishDir_mode]
            }


    withName: RENAME_HEADERS {
              publishDir = [path: "${params.assembly_based_dir}/assemblies/", pattern: "*-assembly${params.assay_suffix}.fasta" , mode: params.publishDir_mode]
            }

    // PROCESSES: LONG_MAPPING, MAPPING
    withLabel: mapping {
                 publishDir = [path: "${params.assembly_based_dir}/read-mapping/", pattern: "*-mapping-info${params.assay_suffix}.txt", mode: params.publishDir_mode]
            }


    withName: SAM_TO_BAM {
                   memory    = "20 GB"
                  publishDir = [path: "${params.assembly_based_dir}/read-mapping/", pattern: "*.bam" , mode: params.publishDir_mode]
            }

    withName: CALL_GENES {
                  conda      = {params.conda_prodigal ? params.conda_prodigal : "${projectDir}/envs/prodigal.yaml"}
                  container  = "quay.io/biocontainers/prodigal:2.6.3--h577a1d6_11"
                  cpus       = 8
                  publishDir = [path: "${params.assembly_based_dir}/predicted-genes/", pattern: "*-genes${params.assay_suffix}.gff", mode: params.publishDir_mode]
            }
   
    // PROCESS: CALL_GENES, REMOVE_LINEWRAPS 
    withLabel: call_genes {
               publishDir = [path: "${params.assembly_based_dir}/predicted-genes/", mode: params.publishDir_mode]
            }

    // PROCESS: FILTER_KFAMSCAN, TAX_CLASSIFICATION, COMBINE_GENE_ANNOTS_TAX_AND_COVERAGE, COMBINE_CONTIG_TAX_AND_COVERAGE
    withLabel: contig_annotation {
               publishDir = [path: "${params.assembly_based_dir}/annotations-and-taxonomy/", mode: params.publishDir_mode]
            }

    withName: KO_ANNOTATION {
                  conda     = {params.conda_kofamscan ? params.conda_kofamscan : "${projectDir}/envs/kofamscan.yaml"}
                  container = "quay.io/biocontainers/kofamscan:1.3.0--hdfd78af_2"
                  cpus      = 8
                  memory    = "10 GB"
                  disk      = "20 GB"
            }

    withName: TAX_CLASSIFICATION {
                  conda     = {params.conda_cat ? params.conda_cat : "${projectDir}/envs/cat.yaml"}
                  container =  "staphb/cat:5.3"
                  cpus      = 8
                  memory    = "50 GB"
                  disk      = "100 GB"
            }

    withName: GET_COV_AND_DET {
                  publishDir = [path: "${params.assembly_based_dir}/read-mapping/", mode: params.publishDir_mode]
            }

    // PROCESS: CONTIG-level outputs
    withName: "MAKE_COMBINED_CONTIG_TAX_TABLES|CONTIG_ASSEMBLY_TABLE|CONTIG_UNFILTERED_HEATMAP|CONTIG_FILTER_RARE|CONTIG_FILTERED_HEATMAP|CONTIG_DECONTAM|CONTIG_DECONTAM_HEATMAP" {
                  publishDir = [path: "${params.assembly_based_dir}/combined-outputs/Contig-level/", mode: params.publishDir_mode]
            }

    // Gene-level Tables
    withName: MAKE_COMBINED_GENE_LEVEL_TABLES {
                  publishDir = [[path: "${params.assembly_based_dir}/combined-outputs/Gene-level/Taxonomy/", mode: params.publishDir_mode, pattern: "*Combined-gene-level-taxonomy*"],
                                [path: "${params.assembly_based_dir}/combined-outputs/Gene-level/KO/", mode: params.publishDir_mode, pattern: "*Combined-gene-level-KO-function*"]]
            }

    // Gene Taxonomy
    withName: "GT_ASSEMBLY_TABLE|GT_UNFILTERED_HEATMAP|GT_FILTER_RARE|GT_FILTERED_HEATMAP|GT_DECONTAM|GT_DECONTAM_HEATMAP" {
                  publishDir = [path: "${params.assembly_based_dir}/combined-outputs/Gene-level/Taxonomy/", mode: params.publishDir_mode]
            }

    // Gene Functions (KO)
    withName: "GF_ASSEMBLY_TABLE|GF_UNFILTERED_HEATMAP|GF_FILTER_RARE|GF_FILTERED_HEATMAP|GF_DECONTAM|GF_DECONTAM_HEATMAP" {
                  publishDir = [path: "${params.assembly_based_dir}/combined-outputs/Gene-level/KO/", mode: params.publishDir_mode]
            }


    withName: METABAT_BINNING {
                  conda      = {params.conda_metabat ? params.conda_metabat : "${projectDir}/envs/metabat.yaml"}
                  container  = "quay.io/biocontainers/metabat2:2.18--h38e344b_1"
                  cpus       = 8
                  publishDir = [path: "${params.assembly_based_dir}/read-mapping/", mode: params.publishDir_mode, pattern: "*-metabat-assembly-depth${params.assay_suffix}.tsv"]
            }

    // PROCESS: SUMMARIZE_BIN_ASSEMBLIES, GENERATE_BINS_OVERVIEW_TABLE, COMBINE_CHECKM
    withLabel: bins {
            publishDir = [path: "${params.assembly_based_dir}/bins/", mode: params.publishDir_mode]
            } 

    withName: ZIP_BINS {
              publishDir = [path: "${params.assembly_based_dir}/bins/", mode: params.publishDir_mode]
            }

     withName: "CHECKM_ON_BIN|COMBINE_CHECKM" {
                  conda     = {params.conda_checkm ? params.conda_checkm : "${projectDir}/envs/checkm.yaml"}
                  container = "quay.io/biocontainers/checkm-genome:1.2.5--pyhdfd78af_0"
                  cpus      = 8
                  memory    = "50 GB"
                  disk      = "50 GB"
            }

    // PROCESS: GENERATE_MAGS_OVERVIEW_TABLE, SUMMARIZE_MAG_LEVEL_KO_ANNOTATIONS, SUMMARIZE_MAG_KO_ANNOTS_WITH_KEGG_DECODER 
    withLabel: mags {
            publishDir = [path: "${params.assembly_based_dir}/MAGs/", mode: params.publishDir_mode]
            }

    withName: ZIP_MAGS {
              publishDir = [path: "${params.assembly_based_dir}/MAGs/", mode: params.publishDir_mode]
            }


    withName: GTDBTK_ON_MAG {
                  conda            = {params.conda_gtdbtk ? params.conda_gtdbtk : "${projectDir}/envs/gtdb-tk.yaml"}
                  container        = "quay.io/biocontainers/gtdbtk:2.6.1--pyh1f0d9b5_2"
                  containerOptions = { params.containerEngine == "singularity" ? "-B \${PWD}:/data -B ${gtdbtk_db_dir}:/refdata" : "-v \${PWD}:/data -v ${gtdbtk_db_dir}:/refdata" } 
                  cpus             = 8
                  memory           = "400 GB"
                  disk             = "200 GB"
            }

    withName:  SUMMARIZE_MAG_KO_ANNOTS_WITH_KEGG_DECODER {
                  conda           = {params.conda_kegg_decoder ? params.conda_kegg_decoder : "${projectDir}/envs/keggdecoder.yaml"}
                  container       = "quay.io/nasa_genelab/keggdecoder:1.3"
                  cpus            = 8
            }

    withName:  GENERATE_ASSEMBLY_PROCESSING_OVERVIEW_TABLE {
                 publishDir = [path: params.assembly_based_dir, mode: params.publishDir_mode]
            }


    withName: KRAKEN_REPORT { 
                 publishDir = [path: "${params.read_based_dir}/Kraken2_Outputs/Krona_Reports/", mode: params.publishDir_mode, pattern: "*.html"] 
	    }

   withName: "KRAKEN_MULTIQC" {
                  publishDir = [path: "${params.read_based_dir}/Kraken2_Outputs/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
          }


    withName: "KRAKEN_ZIP_MULTIQC" {
                  publishDir = [path: "${params.read_based_dir}/Kraken2_Outputs/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
          }



    withName: "KRAKEN2TABLE|KRAKEN_FILTER_RARE|KRAKEN_DECONTAM" { 
                 publishDir = [path: "${params.read_based_dir}/Kraken2_Outputs/Count_Tables/", mode: params.publishDir_mode, pattern: "*.tsv"] 
            }

    withName: "KRAKEN_.*_BARPLOT" { 
                 publishDir = [[path: "${params.read_based_dir}/Kraken2_Outputs/Barplots/", mode: params.publishDir_mode, pattern: "*.png"],
                               [path: "${params.read_based_dir}/Kraken2_Outputs/Barplots/", mode: params.publishDir_mode, pattern: "*.html"]]
            }

    withName: "KAIJU_REPORT" { 
                 publishDir = [path: "${params.read_based_dir}/Kaiju_Outputs/Krona_Reports/", mode: params.publishDir_mode, pattern: "*.html"] 
            }

    withName: "KAIJU2SPECIES_TABLE|KAIJU_FILTER_RARE|KAIJU_DECONTAM" { 
                 publishDir = [path: "${params.read_based_dir}/Kaiju_Outputs/Count_Tables/", mode: params.publishDir_mode, pattern: "*.tsv"] 
            }

    withName: "KAIJU_.*_BARPLOT" {
                 publishDir = [[path: "${params.read_based_dir}/Kaiju_Outputs/Barplots/", mode: params.publishDir_mode, pattern: "*.png"],
                               [path: "${params.read_based_dir}/Kaiju_Outputs/Barplots/", mode: params.publishDir_mode, pattern: "*.html"]]
            }

    // ---------------------- REad-based Humann functional analysis ---------------------------------------------- //
    withName: "GEN_READ_BASED_PROCESSING_KO_TABLE|GEN_NORMALIZED_READ_BASED_PROCESSING_TABLES|SPLIT_READ_BASED_PROCESSING_TABLES|HUMANN_TABLE" {
                publishDir = [[path: "${params.read_based_dir}/Humann_Outputs/Gene_Families/", mode: params.publishDir_mode, pattern: "*Gene-families*"],
                             [path: "${params.read_based_dir}/Humann_Outputs/Pathway_Abundances/", mode: params.publishDir_mode, pattern: "*Pathway-abundances*"],
                             [path: "${params.read_based_dir}/Humann_Outputs/Pathway_Coverages/", mode: params.publishDir_mode, pattern: "*Pathway-coverages*"]]
         }

    // Gene families uniref 90
    withName: "GFU_ASSEMBLY_TABLE|GFU_UNFILTERED_HEATMAP|GFU_FILTER_RARE|GFU_FILTERED_HEATMAP|GFU_DECONTAM|GFU_DECONTAM_HEATMAP" {
                  publishDir = [path: "${params.read_based_dir}/Humann_Outputs/Gene_Families/", mode: params.publishDir_mode]
            }

    // Gene families Functions (KO)
    withName: "GKO_HUMANN_TABLE|GKO_UNFILTERED_HEATMAP|GKO_FILTER_RARE|GKO_FILTERED_HEATMAP|GKO_DECONTAM|GKO_DECONTAM_HEATMAP" {
                  publishDir = [path: "${params.read_based_dir}/Humann_Outputs/Gene_Families/", mode: params.publishDir_mode]
            }

    // Pathway abundances
    withName: "PATH_HUMANN_TABLE|PATH_UNFILTERED_HEATMAP|PATH_FILTER_RARE|PATH_FILTERED_HEATMAP|PATH_DECONTAM|PATH_DECONTAM_HEATMAP" {
                  publishDir = [path: "${params.read_based_dir}/Humann_Outputs/Pathway_Abundances/", mode: params.publishDir_mode]
            }


}
