
/******************************************************************************************************************
***************** Tune process specific resources (cpu, container, memory etc.) ***********************************
*******************************************************************************************************************/

process {

    /*********************************************************************************************
    ******************************** Process Specific Settings  **********************************
    *********************************************************************************+************/
    
  

//********************************** Read quality control and assessment ********************************************//
   withName: FASTQC {
                  conda     = {params.conda_fastqc ? params.conda_fastqc : "${projectDir}/envs/fastqc.yaml"}
                  container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
           }

   // PROCESS: FASTP
   withLabel: fastp {
        conda     = {params.conda_fastp ?  params.conda_fastp : "${projectDir}/envs/fastp.yaml"}
        container = "quay.io/biocontainers/fastp:1.3.1--h43da1c4_0"
        cpus      = 5
        memory    = "60 GB"
           }

//************************************** Remove contaminant ****************************************//

   withName: SPADES {
                  conda      = {params.conda_spades ? params.conda_spades : "${projectDir}/envs/spades.yaml"}
                  container  = "quay.io/biocontainers/spades:4.2.0--h8d6e82b_2"
                  cpus       = 20
                  memory     = "300 GB"
                  publishDir = [path: "${params.decontaminated_dir}/Logs/", pattern: "*-assembly.log", mode: params.publishDir_mode]
            }

   // PROCESS: MAPPING, BUILD_CONTAMINANT_DB, REMOVE_CONTAMINANT
   withLabel: bowtie2 {
                  conda     = {params.conda_bowtie2 ? params.conda_bowtie2 : "${projectDir}/envs/bowtie2.yaml"}
                  container = "quay.io/biocontainers/bowtie2:2.5.5--ha27dd3b_0"
                  cpus      = 8
                  memory    = "20 GB"
            }

    withName: REMOVE_CONTAMINANT {
                  publishDir = [path: "${params.decontaminated_dir}/Fastq/", pattern: "*.fastq.gz", mode: params.publishDir_mode]
            }


//*************************************** Assembly-based processing **************************************************//

   withName: ASSEMBLE {
                  conda      = {params.conda_megahit ? params.conda_megahit : "${projectDir}/envs/megahit.yaml"}
                  container  = "quay.io/biocontainers/megahit:1.2.9--haf24da9_8"
                  cpus       = 8
                  memory     = "20 GB"
                  publishDir = [path: "${params.logs_dir}/Megahit/", pattern: "*-assembly.log", mode: params.publishDir_mode]
           }  

    // Specify desired output directory locations
    withName: "illumina:raw_qc:FASTQC" {
              publishDir = [[path: "${params.merged_dir}/FastQC/", mode: params.publishDir_mode, pattern: "*.html"],
                            [path: "${params.merged_dir}/FastQC/", mode: params.publishDir_mode, pattern: "*.zip"]]
          }

    
   withName: "illumina:raw_qc:MULTIQC" {
                  publishDir = [path: "${params.merged_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
          }


    withName: "illumina:raw_qc:ZIP_MULTIQC" {
                  publishDir = [path: "${params.merged_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
          }


    withName: "illumina:FASTP" {
        publishDir = [[path: "${params.filtered_dir}/Fastq/Fastp_temp/", pattern: "*.fastq.gz" , mode: params.publishDir_mode],
                      [path: "${params.logs_dir}/Fastp_temp/", pattern: "*-fastp.log" , mode: params.publishDir_mode]]
          }

    withName: "illumina:POLYG_FASTP" {
        publishDir = [[path: "${params.filtered_dir}/Fastq/Fastp/", pattern: "*.fastq.gz" , mode: params.publishDir_mode],
                      [path: "${params.logs_dir}/Fastp/", pattern: "*-fastp.log" , mode: params.publishDir_mode]]
          }

    withName: "illumina:filtered_qc:FASTQC" {
               publishDir = [[path: "${params.filtered_dir}/FastQC/" , mode: params.publishDir_mode, pattern: "*.html"], 
                             [path: "${params.filtered_dir}/FastQC/" , mode: params.publishDir_mode, pattern: "*.zip"]]
          }

   withName: "illumina:filtered_qc:MULTIQC" {
                  publishDir = [path: "${params.filtered_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
          }


    withName: "illumina:filtered_qc:ZIP_MULTIQC" {
                  publishDir = [path: "${params.filtered_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
          }


    withName: "illumina:noblank_qc:FASTQC" {
                  publishDir = [[path: "${params.decontaminated_dir}/FastQC/", mode: params.publishDir_mode, pattern: "*.html"], 
                                [path: "${params.decontaminated_dir}/FastQC/", mode: params.publishDir_mode, pattern: "*.zip"]]
          }


   withName: "illumina:noblank_qc:MULTIQC" {
                  publishDir = [path: "${params.decontaminated_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
          }


    withName: "illumina:noblank_qc:ZIP_MULTIQC" {
                  publishDir = [path: "${params.decontaminated_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
          }


    withName: "illumina:remove_host:REMOVE_HOST" {
                 publishDir = [path: "${params.host_removed_dir}/Fastq/", mode: params.publishDir_mode, pattern: "*.fastq.gz"]
         }

    withName: "illumina:nohost_qc:FASTQC" {
                 publishDir = [[path: "${params.host_removed_dir}/FastQC/", mode: params.publishDir_mode, pattern: "*.html"], 
                               [path: "${params.host_removed_dir}/FastQC/", mode: params.publishDir_mode, pattern: "*.zip"]]
         }


   withName: "illumina:nohost_qc:MULTIQC" {
                  publishDir = [path: "${params.host_removed_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.html"]
         }


    withName: "illumina:nohost_qc:ZIP_MULTIQC" {
                  publishDir = [path: "${params.host_removed_dir}/MultiQC_Reports/", mode: params.publishDir_mode, pattern: "*.zip"]
         }


    withName: "METAPHLAN_REPORT" { 
                 publishDir = [path: "${params.read_based_dir}/Metaphlan_Outputs/Krona_Reports/", mode: params.publishDir_mode, pattern: "*.html"] 
         }

    withName: "METAPHLAN2COUNT|COMBINE_READ_BASED_PROCESSING_TAXONOMY|METAPHLAN_FILTER_RARE|METAPHLAN_DECONTAM" {
                publishDir = [path: "${params.read_based_dir}/Metaphlan_Outputs/Count_Tables/", mode: params.publishDir_mode, pattern: "*.tsv"] 
         }


    withName: "METAPHLAN_.*_BARPLOT" { 
                      publishDir = [[path: "${params.read_based_dir}/Metaphlan_Outputs/Barplots/", mode: params.publishDir_mode, pattern: "*.png"],
                             [path: "${params.read_based_dir}/Metaphlan_Outputs/Barplots/", mode: params.publishDir_mode, pattern: "*.html"]]
         }



}
